.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px 10px;
    margin-bottom: 20px;
}

.key {
    min-width: 30px;
    padding: 20px 20px 25px 20px;
    border-bottom: 4px solid var(--wood-color);
    color: var(--title-color);
    border-radius: 4px;
    font-size: 25px;
}

.winner {
    color: #00e716 !important;
}

.button {
    margin-top: auto;
}

@media only screen and (max-width: 767.98px) {
    .key {
        min-width: 20px;
        font-size: 20px;
    }
}