.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.key {
    font-family: inherit;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    padding: 20px;
    border: 1px solid var(--key-border-color);
    border-radius: var(--key-radius);
    font-size: 20px;
    background-color: var(--key-background);
    color: var(--key-color);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.08) 1.95px 1.95px 2.6px;
    transition: all 500ms ease;
}

.key:hover:not(:disabled),
.key:focus:not(:disabled),
.key.active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-color: var(--primary-color);
    box-shadow: none;
}

.key:disabled {
    opacity: 0.45;
    box-shadow: none;
}

@media only screen and (max-width: 767.98px) {
    .key {
        width: 50px;
        height: 50px;
        font-size: 17px;
    }
}

@media only screen and (max-width: 575.98px) {
    .wrapper {
        position: fixed;
        background: var(--wrapper-background);
        padding: 15px 0;
        z-index: 9999;
        bottom: 0px;
        border-radius: calc(var(--main-radius) / 2) calc(var(--main-radius) / 2) 0 0;
        max-height: 180px;
        overflow: auto;
    }
}