.wrapper {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(67%, -50%);
    border-radius: 1pc 0 0 1pc;
    background-color: var(--wrapper-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    padding: 20px 10px;
    transition: all 450ms ease;
}

.wrapper:hover {
    transform: translate(0%, -50%);
    /* background-color: var(--primary-color); */
}