.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px 10px;
}

.key {
    padding: 20px 20px 25px 20px;
    border-bottom: 4px solid #121212;
    border-radius: 4px;
    font-size: 25px;
}

.winner {
    color: #00e716 !important;
}

.help {
    font-family: inherit;
    border: none;
    outline: none;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 0 12px -20px #00000015;
    background-color: #246EB9;
    color: white;
    margin: auto 15px 0 0;
    cursor: pointer;
    transition: all 400ms ease;
}

.help:disabled {
    opacity: 0.4;
    pointer-events: none;
}

.help:not(:disabled):hover {
    background-color: white;
    color: #121212;
}

.reset {
    font-family: inherit;
    outline: none;
    border: none;
    background-color: #00e716;
    color: white;
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 16px;
    margin-top: auto;
    cursor: pointer;
    transition: all 400ms ease;
}

.reset:hover {
    background-color: white;
    color: #00e716;
}