.section {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.winner {
    color: #00e716;
}

.loser {
    color: crimson;
}